<div class="text-container">


  {{!-- 複製 google的設定 http://ww.google.com/eqreih --}}
  <h1> <i class="fas fa-exclamation-triangle"></i> Sorry... Error happens! </h1>
  <span id="message">The requested URL <span id="wrong-url">{{url}}</span> was not found on this server.That’s all we
    know.
  </span>


  <a href="/">Back to home page</a>


</div>